<!DOCTYPE html>
<!--
                        __                          
    ___ ___   __  __   /\_\    ____   ___    ___    
  /' __` __`\/\ \/\ \  \/\ \  /',__\ / __`\/' _ `\  
  /\ \/\ \/\ \ \ \_\ \  \ \ \/\__, `/\ \L\ /\ \/\ \ 
  \ \_\ \_\ \_\/`____ \ _\ \ \/\____\ \____\ \_\ \_\
   \/_/\/_/\/_/`/___/> /\ \_\ \/___/ \/___/ \/_/\/_/
                  /\___\ \____/                     
                  \/__/ \/___/                      

//-->
<html>
<head>
<title>Myjson - <%= yield(:title) %></title>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<script type="text/javascript" src="//use.typekit.net/uhc3ena.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-1443722-7', 'myjson.com');
ga('send', 'pageview');
</script>
</head>
<body>

<% showLink = !(params[:controller] == 'home' and (params[:action] == 'index' or params[:action] == 'create')) %>
<div id="header">
    <h1 id="title"><%= if !showLink then '{ } myjson' else link_to '{ } myjson', root_url, 'data-no-turbolink' => true end %></h1>
    <div id="subTitle">A simple JSON store for your web or mobile app</div>
    <% if false %><%= "#{params[:controller]} #{params[:action]}" %><% end %>
    <% if showLink %>
    <div id="createLink"><%= link_to '+ create new JSON', root_url, 'data-no-turbolink' => true %></div>
    <% end %>
</div>
<%= yield %>
<div id="footer">
    &copy; <%= Time.now.year %> Myjson 1.0.1.beta <%= link_to 'About', about_path, 'data-no-turbolink' => true %> <%= link_to 'API - (CORS enabled)', api_path, 'data-no-turbolink' => true %> 
</div>
</body>
</html>
